## Import Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Import and Read Dataset
df = pd.read_csv("E:/Data Analyst Portofilio Data/Datasets/Google Play Store Apps/googleplaystore_user_reviews.csv")
df

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

## Data Preprocessing

In [4]:
# Display information about dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [5]:
# Check null values
df.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [10]:
# Replace Null Values By Specific Values

df['Translated_Review'].replace(np.nan,'Unknown',inplace=True)
df['Sentiment'].replace(np.nan,'Unknown',inplace=True)
df['Sentiment_Polarity'].replace(np.nan,0,inplace=True)
df['Sentiment_Subjectivity'].replace(np.nan,0,inplace=True)

In [11]:
# Read First 5 Rows
df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,Unknown,Unknown,0.00,0.000000
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [15]:
# Check Null Values
df.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [29]:
# Count Unique Apps
df['App'].nunique()

1074

In [30]:
# Value Counts Of Sentiment Column
df['Sentiment'].value_counts()

Unknown     26863
Positive    23998
Negative     8271
Neutral      5163
Name: Sentiment, dtype: int64

In [33]:
# Value Counts Of Sentiment_Polarity Column
df['Sentiment_Polarity'].value_counts()

 0.000000    32026
 0.500000     1524
 0.700000      991
 1.000000      959
 0.800000      639
             ...
-0.072024        1
 0.452000        1
 0.076190        1
-0.067256        1
 0.173333        1
Name: Sentiment_Polarity, Length: 5410, dtype: int64

In [34]:
# Value Counts Of Sentiment_Subjectivity Column
df['Sentiment_Subjectivity'].value_counts()

0.000000    31279
1.000000     1749
0.500000     1647
0.600000     1166
0.750000     1140
            ...
0.616909        1
0.234848        1
0.154762        1
0.591146        1
0.259470        1
Name: Sentiment_Subjectivity, Length: 4474, dtype: int64

## Exploratory Data Analysis

In [35]:
# Value Counts Of Apps 
df['App'].value_counts()

Angry Birds Classic                                  320
CBS Sports App - Scores, News, Stats & Watch Live    320
Bowmasters                                           320
8 Ball Pool                                          300
Helix Jump                                           300
                                                    ...
Easy Healthy Recipes                                  31
Dresses Ideas & Fashions +3000                        31
Detector de Radares Gratis                            31
Easy Hair Style Design                                30
Drawing Clothes Fashion Ideas                         30
Name: App, Length: 1074, dtype: int64

In [ ]:
df.to_csv('E:/Data Analyst Portofilio Data/Datasets/Google Play Store Apps/googleplay_user_reviews_transformation.csv')